.navbar {
  background-color: seagreen !important;
}

.bg-dark {
  background-color: seagreen !important;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 32vh;
  }

  #map {
    height: 100%;
  }
}
